@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    color: grey;
}
h1{
    text-align: center;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 25px;
}
input{
    padding-left:15px ;
    padding: 15px;
    width: 300px;
    color: black;
}
.card-section{
   
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0 20px 20px;
    gap: 80px;
    
}
.card
{
    position: relative;
    height: 300px;
    width: 180px;
    border: 1px solid green;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border: none;
}
.card:hover .front-card {
    transform: rotateY(180deg);
    
}
.front-card,.back-card{
    height: 300px;
    width: 180px;
    border: 1px solid red;
    border-radius: 15px;
    background-color: greenyellow;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s linear;
}
.front-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    background: red;
    z-index: 2;
}
.back-card{
  background: red;
  transform: rotateY(180deg);
}
.card:hover .back-card {
    transform: rotateY(0deg);
    
}
h3 , h6 , .utilities{
    text-align: center;
    font-size: medium;
}
.slNo{
    width: 100%;
    height: fit-content;
    font-size: 1rem;
    border: 1px solid brown;
    text-align: center;
    background: #fff;
}
#img{
    height: 100px;
    width: 100px;
    margin-left: 20%;
}